
{% include templates/layout/header.html %}
       
        <!-- Begin Content -->
        {% for argument in arguments %}
        <a class="nostyle" href="argument/{{ argument[0] }}">
            <article class="argument">
                <h1> {% safe argument[1] %} </h1>
                <!-- Hide these button things
                <button class="button">Yay</button>
                <button class="button">Nay</button> -->
                <span class="description">{{ argument[4] }}</span>
                <span class="argfooter">
                    {% if argument[5] > 0 or argument[6] > 0 %}<span class="numberofcomments">{{ int(round(argument[6])) }}% Yes, {{ int(round(argument[5])) }}% No</span> | {% end if %}<time datetime="{{ fix_date(argument[2]) }}">{{ fix_date(argument[2]) }}</time>
            </span>
            </article>
        </a>
        {% end for %}
       
 {% include templates/layout/footer.html %}
