{% include templates/layout/header.html %}
   
        
        <!-- Begin Content -->
        <article class="question">
            <h1>{{ argument[1] }} </h1>
			<p class="description"> {{ argument[2] }} </p>
			<div class="bar" style="width:100%">
				<div class="agree" style="width:{{ score[1] }}%; background: #92E492; float: left; height: 3em; display: table-cell; vertical-align: middle;"><center><p>{{ int(round(score[1])) }}%</p></center></div>
				<div class="disagree" style="width:{{ score[0] }}%; background: #FF7878; float: right; height: 3em; display: table-cell; vertical-align: middle;"><center><p>{{ int(round(score[0])) }}%</p></center></div>
			</div>
            <form action="/comment/add " method="post" >
            <textarea id = "comment_textbox" name = "comment" placeholder="Your comment here:"></textarea>
			<div>
				<div style="float: right;"><input type="radio" name="agree" value="Yay" style="float: none"/> Yay</div>
				<div style="float: right;"><input type="radio" name="agree" value="Nay" /> Nay</div>
			</div>
            <input type ="hidden" name="post_id" value="{{ argument[0] }}" style="clear: both"/>
            <input id="comment_submit"  type="submit" value = "Submit" style="float: right">
            
            </form>
		</article>
            
        <h2 style="clear: both">Comments</h2>
        
		{% for comment in comments %}
		<article class="argument {% if comment[2] == "False" %}disagree{% else %}agree{% end if %}">
			<h2>{{ comment[3] }} {% if comment[2] == "False" %}dis{% end if %}agrees:</h2>
			<p>{{ comment[1] }}</p>
		</article>
		{% end for %}
        
{% include templates/layout/footer.html %}
