<html>
    <head>
        <title>Title here!</title>
        <link rel="stylesheet" href="styles.css" type="text/css">
        <link rel="shortcut icon" type="image/x-icon" href="../static/favicon.ico"> 
    </head>
    <body>
    <header>
        <div id="login">
            <a href = "login.html" class="loginlink">Login/Register</a><br>
        </div>
        <img src="../static/banner3.png" title="Header" alt="Header"></img>
        <nav>
            <!-- search-->
            <form>
                
            </form>
            <!--/search-->
        </nav>
    </header>
    
    <!-- Begin Content -->
    <div id="main" rel="main">
        <h1>Argument Title </h1>
        <p> Statement </p> 
        <form>
        <textarea>Your Comment Here </textarea><br>
        <input id="submit_button" label="submit" type="submit" value = "Submit">
        </form>
        
        <h2>Comments</h2>
        <p class="comment">The Latest Comment</p>
        
        <p class="comment">The Next Comment</p>
        
        <p class="comment">Load More Comments (Cant do yet)</p>
    <!-- End Content -->
    </div>
    <footer>
        Group 1 is cool! :D
    </footer>
    </body>
</html>

<!-- 
* Themes/Schemes
* //Logo//
* Mockup
* Global wireframe
-->